@charset "ISO-8859-1";

.textIsolationComble {
    color: #1b94ce;
    display: inline-block;
    font-family: "BrandonGrotesque-Medium";
    font-size: 2em;
    margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
    float: left;
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.textdetails{
    width: 400px;
    position: relative;
    margin-left: 34%;
}